h1{
	font-size: 100px;
	font-family: amaranth;
	margin-left: 500px;
	text-decoration: underline;
}

h2{
	font-size: 33px;
	margin-left: 25px;
	font-family: the bold font;
}

h3{
	margin-left: 150px;
}

h4{
	font-family: Copperplate;
}

body{
	background-color:#960000;
	color: white
}